<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ModuleSoanDe.Properties.Settings.Setting" connectionString="Provider=SQLNCLIRDA11;Data Source=DELLDELLDELL;Integrated Security=SSPI;Initial Catalog=ItecAuth"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>